@model OnlineWeek4Day3.Models.Jedi
@{
    ViewBag.Title = "DIsplayJedi";
}

<h1>@Model.Name</h1>
<h3>@Html.LabelFor(x => x.Race): @Model.Race</h3>
<h3>@Html.LabelFor(x => x.LightsaberColor): @Model.LightsaberColor</h3>
<h3>@Html.LabelFor(x => x.CharacterType): @Model.CharacterType</h3>